[2019-04-01 10:13] mem48 opened #4 "Meet ropensci standards"
https://ropensci.github.io/dev_guide/building.html#building

- [x] 1.1.1 Naming your package

- [x] 1.1.2 Creating metadata for your package

- [x] 1.2 Platforms

- [x] 1.4 Function and argument naming

- [x] 1.4.1 Console messages

- [x] 1.5 Code Style

- [x] 1.6 README

- [x] 1.7 Documentation

- [x] 1.8 Documentation website

- [x] 1.8.1 Grouping functions in the reference

- [x] 1.8.2 Automati

[2019-04-01 13:53] mem48 opened #5 "Check OS compatability"
@layik and @Robinlovelace

Please confirm that for Linux and Mac the following code will run.
[code]

[2019-04-01 14:13] mem48 opened #6 "Finish config files"

[2019-04-01 14:13] mem48 opened #7 "Write tests"

[2019-04-01 14:16] mem48 opened #8 "Add code coverage and AppVeyor"
@Robinlovelace @layik, please advise

[2019-04-01 14:36] mem48 opened #9 "write JOSS paper"

[2019-04-01 14:37] mem48 commented on #5
All the functions of concern live here: https://github.com/ITSLeeds/opentripplanner/blob/master/R/otp-setup.R

[2019-04-01 16:12] layik commented on #8
accepted :)

[2019-04-01 16:16] layik commented on #8
I just need https://codecov.io/gh/ITSLeeds/opentripplanner setup. I could do it on my personal account but much better be done by @Robinlovelace who I "think" has that account.

[2019-04-01 16:18] layik commented on #8
Doing it.

[2019-04-01 16:22] layik commented on #7
yes :)

[2019-04-01 16:24] layik commented on #5
I could look into this, one thing to remember which is goody of baseR is `tempdir`, we should not make any assumptions about default "paths" except `tempdir`, the rest should be left to the user. In other words must take `path` value as parameter. That will always make CRAN and everyone else happy.

[2019-04-01 16:29] layik commented on #8
https://github.com/ITSLeeds/opentripplanner/commit/1ec71193a6e642f7596ee7020d426240efbebd0f

That is done, because we run everything under "IHAVEOTP" it shows 0 on Travis. That is something for us to ignore/sort out as local tests would be different.

[2019-04-01 16:29] layik commented on #7
#8

[2019-04-01 16:37] mem48 commented on #5
I'm open to suggestions, the two requirements are;
1. A path to the otp.jar file
2. A path to a writeable folder that can contain data

Something that would work on all OSs would be ideal

[2019-04-01 22:58] Robinlovelace commented on #5
I get this on my linux laptop before installing Java 8:

[code]

<sup>Created on 2019-04-01 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-04-01 23:02] Robinlovelace commented on #5
Running on:

[code]

[2019-04-02 01:01] Robinlovelace commented on #5
Done. This now works with a system-wide install (note `otp` can be called from anywhere, and does not require a path to a .jar file on the branch installed in the reprex below - few changes in `otp_setup()` though.

[code]

<sup>Created on 2019-04-02 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-04-02 01:08] Robinlovelace opened #10 "Allow package to work if otp is installed on system"
As per the docs, this would involve supporting otp built from source: http://docs.opentripplanner.org/en/latest/Getting-OTP/#building-from-source

E.g. as demonstrated below:

[code]

<sup>Created on 2019-04-02 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-04-02 06:48] layik commented on #5
So thats what I meant Robin. The “getwd” does things inside the package at build and then at user’s wd at runtime.

What should be happening, I hope I can send the PR but really simple, is ask for a path and default it to tempdir.

Then, and geoplumber partly does this, keep the location in a config file at least for the session. Preferably for longer so user does not have to remember where the ja

[2019-04-02 07:12] layik commented on #5
OK so now I see we have #10

[2019-04-02 07:15] layik commented on #10
Avoid build from source is my initial and probably not changing stance for this package.

Download from https://repo1.maven.org/maven2/org/opentripplanner/otp/1.1.0/otp-1.1.0-shaded.jar and live happily ever after. If statement to be 100% safe, if not available or removed for security etc, then stop that particular `setup` function.

I think there is already enough in the package, I think! But ult

[2019-04-02 08:18] Robinlovelace commented on #10
I meant the package should work if you have installed `OTP` on your system, not that the package should install the package from source for you. I just installed from source to get around the issue of having multiple versions of Java and it works great. And it makes the API more concise:

[code]

vs

[code]

for example.

[2019-04-02 08:36] Robinlovelace commented on #10
The other advantage of OTP installed this way this is that it keeps the main version of `java` on your system while ensuring that the version of `java` OTP needs is used for calling the `jar` file.

[2019-04-02 14:26] layik commented on #10
“
This build process should produce a JAR file called otp-x.y.z-shaded.jar in the target/ directory which contains all the compiled OTP classes and their dependencies (the external libraries they use). The shell script called 'otp' in the root of the cloned repository will start the main class of that JAR file under a Java virtual machine, so after the Maven build completes you should be able to r

[2019-04-02 14:30] layik commented on #10
Importantly I think the 1.8 is just the minimum version than the required one.

[2019-04-02 15:21] Robinlovelace commented on #10
That may be so, but whether or not `opentripplanner` supports users who have installed OTP on their system has no impact on Windows users in this PR #11

Windows users are not affected by people who install it on their system, e.g. with this: https://github.com/ITSLeeds/opentripplanner/pull/11/files#diff-93d3b13dfc8970e3781563bf840882bcR101

The `system()` calls required are the same, albeit sligh

[2019-04-02 15:24] Robinlovelace commented on #10
Example of simpler calls to OTP, without OTP installed on the system:

[code]

<sup>Created on 2019-04-02 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

Or

[code]

<sup>Created on 2019-04-02 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

I know which one I'd rather use if I were developing OTP applications. Plus allowing people to use compiled version

[2019-04-02 21:13] layik commented on #10
Alright, I am not going to change my mind: 1. build from source is wrong IMHO, 2. introducing a bash script is against Java's jar. Even if that is coming from Oracle themselves unless I know less Java than R which is not the case :)

I should let Robin do this the way he wants to. I should be on holiday anyways :)

[2019-04-02 22:26] Robinlovelace commented on #10
Open minded about this, just an idea, and definitely willing to change my mind so have removed that from PR. Can always re-open this issue if there's demand down the line but happy to defer to your judgement @layik that it's a bad idea. One to discuss/test/minihack at some point.

[2019-04-02 22:26] #10 closed, assigned to nobody

[2019-04-03 13:47] #7 closed, assigned to mem48

[2019-04-03 14:52] mem48 commented on #8
@layik  did you add AppVeyor or just code coverage?

[2019-04-03 16:51] layik commented on #8
Do we need it?
CI Travis
Tests CodeCov

[2019-04-03 16:53] mem48 commented on #8
It's on the ropensci requirements because Travis does not build on windows, but AppVeyor does

[2019-04-03 22:41] layik commented on #8
@mem48 I am a total beginner on AppVeyor. I hope this is right, but we do need to make sure `usethis::use_appveyor` default setup does the job. By learning more about `appveyor`.

Since when it has become a requirement, as `stats19` did not need it.

[2019-04-03 22:49] layik commented on #7
Awesome tests @mem48. Given more time, appveyor could be ideal to make the test coverage 100%
It comes with JDK (Java Development Kit) which means we could download, setup and run OTP.

https://www.appveyor.com/docs/windows-images-software/#java

Maybe someone can do it in future :)

[2019-04-04 08:21] Robinlovelace commented on #8
I don't think it's a hard requirement. @maelle clarification welcome from an @rOpenSci perspective!

[2019-04-04 08:44] maelle commented on #8
:wave:! I'm not familiar with what your package does, here are our criteria to require CI on all platforms https://ropensci.github.io/dev_guide/ci.html#whichci I hope it helps!

[2019-04-04 08:50] Robinlovelace commented on #8
Thanks for the clarification @maelle.

[2019-04-04 09:08] mem48 commented on #8
@Robinlovelace my reading of the requirements was:

requires CI on Windows, Mac and Linux, however, I'm not sure if it will help because the system calls can't be tested easily without Java and OTP. Perhaps the most we can do is test the java version?

[2019-04-04 09:37] Robinlovelace commented on #8
We'll see what comes out in the wash during the review process. I think it may be possible to test a working instance on all 3 platforms, but may end up being more hassle than it's worth and not an efficient use of time. However, with support from rOpenSci, and the impressive level of support they provide, anything is possible (they helped me get travis set-up with stplanr before I even knew what

[2019-04-04 11:07] layik commented on #8
I think it will be an overkill to set up an instance and I almost had a go at it last night.

We could use an open API for the tests. Clarification means it is not a strict requirement. It would be if our package was say Windows only.

CRAN requires at least two OS’s “tested”.

[2019-04-04 11:07] layik commented on #8
I am satisfied this is enough and as Robin says let’s get the reviews.

[2019-04-04 12:09] Robinlovelace commented on #8
Thats a good idea and @itsleeds should have its own server.

[2019-04-04 20:01] mem48 commented on #8
How would we get one set up?

[2019-04-04 20:07] mem48 commented on #5
@layik I've changed to tempdir  rather than getwd, the downside for vignettes is it leaves nothing behind, but the user can always change it

[2019-04-04 20:58] layik commented on #8
One of these:
http://docs.opentripplanner.org/en/latest/Deployments/

This?
http://docs.plannerstack.org/en/latest/

[2019-04-04 20:59] layik commented on #5
Exactly! And we are safe. Not fiddling with user's directories and it is cross platform. Tempdir is awesome.

[2019-04-04 22:00] mem48 commented on #8
@layik great find of plannerstack I've been looking for one with a free public api for ages

[2019-04-06 14:30] layik commented on #4
I could tick off platforms and AppVeyor. 67% coverage is good for tests too.

[2019-04-07 08:40] #8 closed, assigned to layik, Robinlovelace

[2019-04-07 08:40] #6 closed, assigned to mem48

[2019-04-07 08:41] mem48 opened #12 "support fares"
Fare data currently discarded

[2019-04-07 08:42] mem48 opened #13 "test on public api"

[2019-04-07 08:42] mem48 opened #14 "support trafic data"

[2019-04-07 12:01] mem48 commented on #14
OTP seems to support Open Traffic collecting details:

[2019-04-07 12:01] mem48 commented on #14
https://github.com/opentraffic/datastore/blob/master/docs/public_data_extracts.md

[2019-04-07 12:04] mem48 commented on #14
https://github.com/opentraffic/otv2-platform

[2019-04-08 13:34] mem48 commented on #9
First draft https://github.com/ITSLeeds/opentripplanner/blob/master/paper.md

Would welcome comments from @marcusyoung @Robinlovelace @layik

[2019-04-08 13:35] mem48 commented on #9
See https://joss.readthedocs.io/en/latest/submitting.html for guidelines

[2019-04-15 15:01] mem48 commented on #4
@Robinlovelace It's all down to you now 😆

[2019-04-15 15:12] mem48 commented on #12
http://demo.planner.plannerstack.com/otp/routers/default/plan?fromPlace=51.923943445544715%2C4.4659423828125&toPlace=52.38901106223458%2C4.9658203125&mode=TRANSIT%2CWALK&maxWalkDistance=3000&arriveBy=false&wheelchair=false

returns fare data

[2019-04-16 15:35] Robinlovelace commented on #4
Testing on Linux.

[2019-04-16 15:49] Robinlovelace opened #15 "Issue in opentripplanner vignette"
Everything worked, except this line:

[code]

Can you reproduce this @mem48 ?

[2019-04-16 15:51] Robinlovelace commented on #5
Follow-up: after making those changes I get this, on the `rocker/geospatial` docker image which runs Debian:

[code]

[2019-04-16 22:07] mem48 commented on #5
Thanks @robinlovelace and @layik the last thing that needs checking is the otp_stop() function

[2019-04-16 22:08] mem48 commented on #15
What version of geodists do you have?

[2019-04-17 06:01] Robinlovelace commented on #15
[code]

[2019-04-17 06:10] #15 closed, assigned to nobody

[2019-04-17 06:21] Robinlovelace commented on #5
Just added functionality that makes it work for linux. Proof of it working in a docker container (`robinlovelace/geocompr` which is built on `rocker/geospatial`):

![image](https://user-images.githubusercontent.com/1825120/56265411-65014180-60e1-11e9-9fe7-f624a044a296.png)

[2019-04-17 06:24] #5 closed, assigned to layik, Robinlovelace

[2019-04-17 06:26] Robinlovelace commented on #5
After the above commit I get this on the docker image that was running OTP:

[code]

@layik final thing I think: check the code in the previous commit *will* in fact work on Mac (I assume so).

[2019-04-17 07:31] mem48 commented on #15
I'm assuming that you have fixed this by updating the package?

[2019-04-17 08:00] Robinlovelace commented on #9
Heads-up @mem48 I'm working on this now.

[2019-04-17 15:55] mem48 commented on #4
Done and submitted to ROpenSci

[2019-04-17 15:55] #4 closed, assigned to nobody

[2019-04-18 16:37] #9 closed, assigned to mem48

[2019-04-18 16:44] mem48 opened #18 "Failing on AppVeyor"
It seems to be a problem with geodist

[code]

[2019-04-18 16:51] mem48 commented on #18
@mpadge is this a problem with the geodist package itself? As far as I can tell there where no problems with 0.0.2

[2019-04-18 18:37] mpadge commented on #18
Ah yeah, could well be. 0.0.2 had intermittent problems with DLL linking, so I implemented a solution this week on 0.0.3 that I thought solved it, but.... I'll investigate further and get back to you

[2019-04-19 14:31] mpadge commented on #18
@mem48: Can you try now with `Remotes: hypertidy/geodist` in your `DESCRIPTION` file to load current github rather than CRAN version?

[2019-04-20 10:00] mem48 commented on #18
I've pushed the change to the wip branch https://github.com/ITSLeeds/opentripplanner/commit/a7c36017b4106e4000391c021dc3b99bb403d822

[2019-04-20 10:02] mem48 commented on #18
It still seems to be failing :(

[2019-04-20 11:13] mem48 opened #20 "Batch Isochone & Geocoding"
Support batch isochrone and geocoding

[2019-04-23 16:21] mem48 opened #21 "add id variable"
Add option for a from place and to place id to be included in the results.

[2019-04-25 11:00] mpadge commented on #18
I don't think `geodist` is causing this. I set up a test repo [here](https://github.com/mpadge/gdtest), which depends on geodist, and passes both on travis and appveyor. The key line in your output is,

In the output you pasted above, it's

/bin/sh: c:/Rtools/mingw_32/bin/gcc: No such file or directory

It is `gcc` that is not being found, and that is needed to compile and install `geodist`. You'r

[2019-04-25 11:10] mem48 opened #22 "Support alternative geometry column names"
otp_plan fail if fromplace or toplace are sf objects with geometry columns not called geometry

[2019-04-25 14:39] mem48 commented on #18
@mpadge I've updated the appveyor.yml but it is still failing

[2019-04-25 14:56] mem48 commented on #18
Ah, It works now I've removed the remotes, thanks

[2019-04-25 14:56] #18 closed, assigned to nobody

[2019-05-01 16:09] mem48 commented on #21
Done

[2019-05-01 16:09] #21 closed, assigned to mem48

[2019-05-09 18:34] Robinlovelace opened #24 "sf expects json not gpkg files from urls"
See
[code]

<sup>Created on 2019-05-09 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

- heads-up @mem48 this causes tests to crash

[2019-05-09 18:38] Robinlovelace opened #25 "tests failing on Linux"
[code]

[2019-05-09 18:41] #24 closed, assigned to nobody

[2019-05-09 19:20] Robinlovelace commented on #25
Fixed. Latest results:

[code]

[2019-05-09 19:20] #25 closed, assigned to nobody

[2019-05-13 13:14] Robinlovelace commented on #24
Update: works on most set-ups. Maybe there was a connection problem or I was using an out-of-date version. False alarm, working reprex below. Cc @mem48

[code]

<sup>Created on 2019-05-13 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>
<details><summary>Session info</summary>

[code]

</details>

[2019-05-18 11:17] mem48 opened #26 "End of (Unix) Time"
The package is hardcoded for 32 bit Unix time, to support OTP. So the whole thing may break after 19th January 2038.

[2019-05-27 23:00] kimnewzealand opened #28 "OTP / Java set up issue on Windows"
Hi there opentripplanner team

I am going through the installation and set up for the package review. I have updated Java to version 8 and installed and attached the R package opentripplanner, as per the vignettes. I am raising this is as an issue as I am unable to progress on the review at this point.

I initially suspected there an issue with the OTP connection as the check for OTP did not retur

[2019-05-28 08:12] mem48 commented on #28
Thanks for the detailed responce I'll try to reprodduce the issue, and get back to you asap

[2019-05-28 08:31] mem48 commented on #28
A few first thoughts, the I_have_OTP is not necessary to use the package only for running the automated tests. The first thing that otp_build_graph does is run the internal function otp_checks. It might be useful to run this via opentripplanner:::otp_checks() to see if a more useful error message is produced. But it seems that you have several distinct problems.

1. On your first attempt Java trie

[2019-05-29 21:06] kimnewzealand commented on #28
thanks @mem48

I am trying on another laptop now so I will update thread soon

[2019-05-29 23:30] kimnewzealand commented on #28
As an update, I have uninstalled and reinstalled Java version 8 on my machine and installed the package on another laptop with more memory.

I will ignore Sys.getenv("I_have_OTP") for now as you suggest.

I tried to run this command and received an error:
` opentripplanner:::otp_checks()`

1. Despite the error with `opentripplanner:::otp_checks()`,  I had success in building the graph by adding me

[2019-05-29 23:42] kimnewzealand opened #30 "Set up an OTP instance taking too long"
I have successfully created a graph object but it seems like there is a potential issue with setting up the OTP instance. See below error message.

` log <- otp_build_graph(otp = path_otp, dir = path_data, memory = 1) `

` otp_setup(otp = path_otp, dir = path_data)`

## Trying the other alternative ports example
` otp_setup(otp = path_otp, dir = path_data, port = 8801, securePort = 8802)`

[2019-05-30 00:07] kimnewzealand commented on #30
O this one does not appear to be an issue. I tried the memory=1 trick again and it worked so I will close

` otp_setup(otp = path_otp, dir = path_data,memory=1)`

[2019-05-30 09:00] mem48 commented on #28
Seems like its fixed, the otp_ckecks requires several arguments to work, sorry I did not make that clear before. So the error is expected. I think for now I will update the vignettes to mention memory requirements and perhaps some more tips on installing Java.

[2019-05-30 10:10] #28 closed, assigned to nobody

[2019-06-16 19:34] nujcharee opened #31 "remote install throw an error"
When following your readme file bring to remote install the package I received an error message below

Error in curl::curl_fetch_memory(url, handle = h) :
  Timeout was reached: Operation timed out after 10004 milliseconds with 0 out of 0 bytes received

[2019-06-18 14:20] mem48 commented on #31
Hi @nujcharee can you post a reproducible example with details about your system?

[2019-06-24 09:05] nujcharee commented on #31
Hi there it looks to be ok now that I tried again today. Thank you.

[2019-06-24 09:05] #31 closed, assigned to nobody

[2019-08-11 06:42] mem48 opened #32 "json files compatibility with OTP 1.4"
OTP 1.4 Does not like

"stopClusterMode": ["proximity"],

but does like

"stopClusterMode": "proximity",

Need to fix the otp_config code and check with OTP 1.3 for back compatability

[2019-08-12 15:48] #32 closed, assigned to mem48

[2019-08-12 15:49] mem48 commented on #14
Depreciated in OTP 1.4

[2019-08-12 15:49] #14 closed, assigned to mem48

[2019-08-14 14:09] #22 closed, assigned to mem48

[2019-10-02 21:26] orlandombaa opened #33 "N x N matrix"
Hello

I'm trying to get the trip data from a matrix of N x N origins. I have my area of service divided into a set of polygons, each with a centroid. What I want to generate is the grade of accessibility which measures the time of each centroid to the rest of the centroids (including itself which is = 0) and the Deuter index which is related to distances.

I have been reading the advanced documen

[2019-10-03 08:15] layik commented on #26
Great thinking ahead @mem48!

[2019-10-03 14:58] mem48 commented on #26
Unfortunatly I don't know how to fix it :( as it is out of my control

[2019-10-03 15:06] mem48 commented on #33
Hi Orlando,

First, if you do this:

`routes <- otp_plan(otpcon = otpcon, fromPlace = centroides, toPlace = centroides, mode = ("CAR"),ncores = 5)`

Then you are routing from A to A, B to B, C to C etc. This is why you get the error "Origin is within a trivial distance of the destiantion"

The second version, based on the vignette should work. Can you do a few checks from me?

[code]

[2019-10-03 15:41] mem48 commented on #33
Hi again,

I've spotted a bug in the vignette code. I've updated the vignette that should fix the problem.

[2019-10-03 16:32] mem48 commented on #33
[code]

Is the changed code

[2019-10-03 21:37] orlandombaa commented on #33
Hello, @mem48  I just run the new code and it runs very well.
Thank you!

[2019-10-03 21:43] #33 closed, assigned to nobody

[2019-10-11 08:14] mem48 commented on #12
Basic fare result and demo data added

[2019-10-11 08:14] #12 closed, assigned to mem48

[2019-11-29 20:55] mem48 opened #34 "CRAN build failing on linux"
@Robinlovelace can you confrim that you are getting these errors on Linux?

https://win-builder.r-project.org/incoming_pretest/opentripplanner_0.2.0.0000_20191129_213949/Debian/00check.log

It builds fine on windows, and the CI is also fine.

[2019-11-29 21:13] Robinlovelace commented on #34
I'll give it a spin.

[2019-11-29 21:17] Robinlovelace commented on #34
Seems to work on my main Ubuntu 18.04 machine:

[code]

<sup>Created on 2019-11-29 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

[2019-11-29 21:20] Robinlovelace commented on #34
Update: this is not OS specific. Expect a PR fixing this soon @mem48.

[2019-11-29 21:20] mem48 commented on #34
Any suggestions on how to fix this? I suppose I need a VM with Debian

[2019-11-29 21:20] mem48 commented on #34
Thanks

[2019-11-29 21:21] Robinlovelace commented on #34
Give it a spin here if you want ; ) https://rstudio.robinlovelace.net/

[2019-11-29 21:25] Robinlovelace commented on #34
There are a number of tests that fail. Does `devtools::check()` pass for you?

[2019-11-29 21:25] Robinlovelace commented on #34
I get this:

[code]

<sup>Created on 2019-11-29 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-11-29 21:28] mem48 commented on #34
I'm running again but its fine on Travis and AppVeyor

[2019-11-29 21:29] mem48 commented on #34
[code]

[2019-11-29 21:30] Robinlovelace commented on #34
@mem48 can you give me push access to this new repo? I plan to push to a new branch and put in a PR.

[2019-11-29 21:34] mem48 commented on #34
@Robinlovelace done

[2019-11-29 21:35] Robinlovelace commented on #34
Haha if you were 30 seconds faster! Just pushed to a new fork of it on my own account, good backup in case this new fork goes terribly wrong hehe.

[2019-11-29 21:36] Robinlovelace commented on #34
That will fix these low hanging fruit:

[code]

[2019-11-29 21:40] Robinlovelace commented on #34
Update: no tests should be running that rely on OTP on my machine:

[code]

<sup>Created on 2019-11-29 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-11-29 21:40] Robinlovelace commented on #34
I'll take a look at what's causing those more serious CRAN check failures.

[2019-11-29 21:41] mem48 commented on #34
I have and idea what might be the problem, could a firewall be blocking downloads? I test downlaoding all the files even if you don't have OTP. But if downloads are blocked that might cause some of these errors.

[2019-11-29 21:42] Robinlovelace commented on #34
No that's not it...

[2019-11-29 21:43] Robinlovelace commented on #34
One reason:

[code]

<sup>Created on 2019-11-29 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-11-29 21:45] Robinlovelace commented on #34
This works, will put in a new PR:

[code]

<sup>Created on 2019-11-29 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-11-29 21:52] Robinlovelace commented on #34
Good news: after #36 is merged I only get 2 notes:

[code]

<sup>Created on 2019-11-29 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-11-29 21:57] mem48 commented on #34
THanks for rapit help, I'm going to run the full set of tests locally and then resubmit to CRAN

[2019-11-29 21:58] Robinlovelace commented on #34
OK great. I'm about to push a commit to close this. Zero notes now!

[2019-11-29 22:01] Robinlovelace commented on #34
:rocket: :dancer:

[code]

[2019-11-29 22:06] Robinlovelace opened #37 "Travis is failing"
Seems this time it's due to the download of otp: https://travis-ci.com/ropensci/opentripplanner/builds/138757329#L1246

[2019-11-29 22:08] Robinlovelace commented on #37
@mem48 I suggest restarting the build as the relevant code hasn't changed. Here's the error in any case (just to be explicit):

[code]

[2019-11-30 19:28] #37 closed, assigned to nobody

[2019-12-02 09:16] mem48 commented on #34
@Robinlovelace this is still happening

package opentripplanner_0.2.0.2.tar.gz does not pass the incoming checks automatically, please see the following pre-tests:
Windows: <https://win-builder.r-project.org/incoming_pretest/opentripplanner_0.2.0.2_20191130_231531/Windows/00check.log>
Status: 1 ERROR, 1 NOTE
Debian: <https://win-builder.r-project.org/incoming_pretest/opentripplanner_0.2.0.2_201911

[2019-12-02 10:07] layik commented on #34
Hi @mem48. I have no idea if this would be the reason but on a clean build from me, I have this note:
UPDATE: I have an idea and this was not it but still valid see next comment.
[code]
<details><summary> sessionInfo() </summary>
[code]

<sup>Created on 2019-12-02 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>
</details>
I will try to contribute!

[2019-12-02 10:59] layik commented on #34
Right, regardless of the fail on those platforms `askYesNo` is [not available](https://www.rdocumentation.org/packages/utils/versions/3.4.3) at least on `utils` up to utils version `3.5`. Need to be aware of this. Happy to send a PR for that and also avoid `interactive` session.

I think we should deal with this old version issue by restricting the `utils` package version itself like done in [stat

[2019-12-02 12:27] layik commented on #34
And to confirm, upon upgrading to 3.6 (which means losing packages) the note disappears. So checking through the error on Linux, I _**think**_ the culprit is this:
https://github.com/ropensci/opentripplanner/blob/master/R/otp-plan.R#L302

not exported. Sending a PR.

[2019-12-02 12:39] layik commented on #34
#39

[2019-12-02 12:48] Robinlovelace commented on #34
It's simply that the test fails, not an OS specific issue as Layik says.

[2019-12-02 12:50] mem48 commented on #34
@Robinlovelace but the vignettes build on Linux but not on Windows so ther must be an OS aspect to it.

[2019-12-02 12:51] Robinlovelace commented on #34
The test is wrong. You ask it to expect an error but there is not error generated:

[code]

<sup>Created on 2019-12-02 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

I suggest closing this issue and opening a new one on the tests. If the Windoes vignettes are failing that's another issue.

[2019-12-02 12:52] Robinlovelace commented on #34
Update: I think the test is wrong, not 100% sure what it's trying to test.

[2019-12-02 12:53] Robinlovelace commented on #34
Update: OK the test passes on my machine:

[code]

<sup>Created on 2019-12-02 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-12-02 12:54] layik commented on #34
Yes, whatever it is, it is to do with the tests. Lets use the same thread to fix the tests :)

[2019-12-02 13:15] mem48 commented on #34
@layik your PR is still failing on R 4.0 :(

[2019-12-02 13:23] layik commented on #34
Can I please see the log? Is it the above issue with `askYesNo`?

[2019-12-02 13:35] mem48 commented on #34
@layik

[code]

[2019-12-02 14:05] Robinlovelace commented on #34
This seems like a pretty clear indication of what's going on. Not sure why it's giving that message though...

[code]

[2019-12-02 14:06] Robinlovelace commented on #34
Maybe it's a class issue, is `fromPlace` supposed to be a particular class (e.g. numeric)?

[2019-12-02 14:06] layik commented on #34
I think what is happening is the test case is trying to match provided error message with actual error message from function.

[2019-12-02 14:27] mem48 commented on #34
@layik your PR will work, but because you have disabled the error checking. The question is why are the wrong error messages being returned?

What these test are doing is checking that error handling is working correctly. Here is a simplified example

[code]

If the test was returning the message "123 is not numeric" there is something going very wrong.

[2019-12-02 15:35] layik commented on #34
I see, my apologies, just closed my PR. In that case, I need to check.

[2019-12-02 15:48] layik commented on #34
https://stackoverflow.com/a/30063199/2332101

[2019-12-02 15:51] layik commented on #34
If I know how to send a build, I would send one with adding `fixed = TRUE` as stated in that SO answer. But wont trouble you with another PR. I think I should stop here if this is not the solution.

[2019-12-02 19:15] mem48 commented on #34
@layik  tired adding the `fixed = TRUE` but didn't make any difference

[2019-12-03 08:08] mem48 commented on #34
Fixed, turn of the matrix was gaining the class "array" which was breaking the test `all(class(imp) == "matrix")`

[2019-12-03 08:08] #34 closed, assigned to nobody

[2019-12-03 09:16] Robinlovelace commented on #34
Guessed it was to do with the class of the inputs. Good fix @mem48 !

[2019-12-03 09:59] layik commented on #34
Hopefully submission to CRAN next?
Is there a ticket to submit to CRAN? I think there was a STATS19 ticket outlining the checklist.

[2019-12-07 08:32] mem48 opened #42 "cran fixes"
Fixes required for cran

[2019-12-21 18:52] vsoch opened #43 "Question about test failure"
heyo! I'm new to this package and general R testing, so please excuse that off the bat. I'm running tests for your package, and I'm hitting this error:
[code]
It looks like an issue with a router / endpoint not working - have you seen this before? I'm trying to run the tests from GitHub Actions, if that helps. Thank you!

[2019-12-23 15:44] mem48 commented on #43
Hi @vsoch it might be a port issue, or perhaps the servers where down when you ran the test. The tests have been designed for travis, to ensure that the code coverage requirements are met. If you want to test the package fully you need to test it locally with Java 8 installed and with the I_have_OTP = TRUE variable in your Renvirion file. Full explanation in the readme.

[2019-12-23 15:45] mem48 commented on #43
Is there something specific your trying to do with the tests?

[2019-12-23 17:50] vsoch commented on #43
Yes, I'm trying to build a general CI that can test any package, so having a custom set of requirements proves to be highly challenging. I'm doing:

[code]

[2019-12-23 17:53] vsoch commented on #43
In case you can see, the current version of the test matrix is being [run here](https://github.com/r-universe/vsoch/pull/13) and a specific failure (for linux, I'm starting with linux since it will be easiest) is [here](https://github.com/r-universe/vsoch/pull/13/checks?check_run_id=359514693). The error message is from the artifact (and I posted it in the issue) if you want to see it in full.

[2019-12-23 18:47] mem48 commented on #43
It seems that digitransit have changed their API and this is causing the tests to fail, so for now I have disabled the tests that use digitransit. That should fix your problem.

[2019-12-23 18:49] mem48 commented on #13
Digitransit have change their API, this requires a significant rewrite of the package or finding a new API to test against.

[2019-12-23 18:49] mem48 commented on #13
https://digitransit.fi/en/developers/apis/1-routing-api/

[2019-12-23 18:54] vsoch commented on #43
Great thank you! Testing now!

[2019-12-23 18:58] mem48 commented on #13
https://developer.trimet.org/ requires API key

https://www.mbta.com/developers/v3-api  no key ??

[2019-12-23 19:02] vsoch commented on #43
Perfecto! The tests are passing

![image](https://user-images.githubusercontent.com/814322/71375582-02b7e500-257c-11ea-9cde-1e02a944af73.png)

Now I can move forward and work on the staged builds. Thanks so much for your prompt response!

[2019-12-23 19:02] #43 closed, assigned to nobody

[2019-12-24 07:24] Robinlovelace commented on #13
Note: you can test APIs on travis with something like:

[code]

I don't think this is a priority, getting it on CRAN after 6th Jan when they're all back from holiday should be priority I think.

[2019-12-24 13:02] mem48 commented on #13
I agree, my problem is finding a free api to test against. Most otp sites don't offer an API.

[2019-12-24 13:11] mem48 commented on #13
Also the package does not currently support api keys, so some rewriting would be required

[2020-01-06 09:21] Robinlovelace commented on #42
What are the outstanding issues?

[2020-01-06 15:15] mem48 commented on #42
@Robinlovelace Their done, I'm just waiting for the submission to re-open

[2020-01-06 15:15] Robinlovelace commented on #42
Aha, good to hear.

[2020-01-15 14:47] mem48 opened #45 "Support API Keys"
For remote servers it would be good to support API keys and login requirments, need an example to build around so waiting for someone in need.

[2020-01-15 15:07] Robinlovelace commented on #45
This is a simple solution used in `cyclestreets`:

[code]

Source: https://github.com/Robinlovelace/cyclestreets/blob/master/R/journey.R#L71

[2020-01-23 12:58] mem48 commented on #42
On cran

[2020-01-23 12:58] #42 closed, assigned to mem48

[2020-01-29 11:26] Robinlovelace opened #46 "Error when calculating walking route (without fare)"
Reproducible example:

[code]
  |                                                  | 0 % ~calculating  Error in `$<-.data.frame`(`*tmp*`, "fare", value = numeric(0)) :
  replacement has 0 rows, data has 1
[code]

[2020-02-04 10:57] #46 closed, assigned to nobody

[2020-02-07 13:11] mem48 opened #47 "isochones are returning invalid geometries"

[2020-02-07 13:12] mem48 commented on #47
[code]

[2020-02-07 14:23] #47 closed, assigned to nobody

[2020-02-24 20:22] Johnspeanut opened #48 "otp_plan function error"
Hi Dr.Morgan and other developers,

Thanks for developing such a wonderful R package.

When I run  "otp_plan" function, an error message keeps coming up. I wonder if you can help me figure out.

I follow your tutorial(https://docs.ropensci.org/opentripplanner/articles/advanced_features.html) but use the data of the Washington metropolitan area. The local OTP server is successfully set on my comput

[2020-02-24 21:00] mem48 commented on #48
Hi can you provide some exmaples of your data by running `head(fromPlace)` and `head(toPlace)` and `head(dd)` also your `maxWalkDistance` is silly high.

[2020-02-25 09:11] Robinlovelace commented on #48
Also providing session information (e.g. as returned by `sessionInfo()`) and a minimal reproducible example will help identify the problem.

[2020-02-25 17:24] mem48 opened #49 "Ideas for next version"
Holding place for ideas of what could be added to the package.

- [x] Support for OTP 2.0

- [x] Check Java version function

- [ ] Perfect elevation transcription (currently just mostly good)

- [x] More helper functions e.g. travel time matrix

- [ ] Support wider set of API features, e.g. GTFS details

- [x] Cache JAR files in package

[2020-02-25 17:26] mem48 commented on #49
- [x] Impoved load balancing on mulitple cores, needs benchmarking

[2020-02-28 02:57] Johnspeanut commented on #48
Thanks for your nice help.

I have made an example following OpenTripPlanner documentation.  Here is the folder that I put all the required materials: https://github.com/Johnspeanut/openstreetmap

The folder includes an R script and all the codes perform pretty well except the last function-otp_plan.  It keeps reporting the following messages:
Error in otp_plan(otpcon = otpcon, fromPlace = fromPla

[2020-02-28 03:01] Johnspeanut commented on #48
Sure.

   ID latitude longitude
1:  1 38.90199 -77.04416
2:  2 38.90190 -77.04261
3:  3 38.90216 -77.04107
4:  4 38.90200 -77.03890
5:  5 38.89965 -77.04090
6:  6 38.90075 -77.04055

   ID latitude longitude
1:  1 38.90199 -77.04416
2:  1 38.90199 -77.04416
3:  1 38.90199 -77.04416
4:  1 38.90199 -77.04416
5:  1 38.90199 -77.04416
6:  1 38.90199 -77.04416

[2020-02-28 03:09] Johnspeanut commented on #48
Thanks. Here the return of 'sessionInfo()'.  Also, here is the reproducible example with R codes:https://github.com/Johnspeanut/openstreetmap

R version 3.6.2 (2019-12-12)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United States.1252    LC_MONETARY=English_Unit

[2020-02-29 15:06] mem48 commented on #48
It seems that you have an ID column in your fromPlace and toPlace, you can only pass a 2 column matrix as the input. Try removing that column.

Also you have version 0.0.0.9 of the package installed. The latest stable version of the paackage is 0.2.0.8

[2020-03-01 05:02] Johnspeanut commented on #48
Thanks. After I updated the package to 0.2.0.8 and keep class of 'fromPlace' and 'toPlace' be matrix, the otp_plan function works well.  The problem is solved.

I have another question. When I do batch routing (e.g. fromPlace has 5 points and toPlace has 1 points) using otp_plan function, sometimes it returns 3 durations.  I guess the durations of 2 routes are 0 and the output drops 0.  How can I

[2020-03-01 09:20] mem48 commented on #48
More likely OTP has failed to find the routes, you can use the fromID and toID arguments in otp_plan to add an id value to the routes, this is returned in the resutls as fromPlace and toPlace instaid of the raw coordinates. You can also use `warnings()` to see any recent error messages.

[2020-03-01 09:20] #48 closed, assigned to nobody

[2020-03-02 01:54] Johnspeanut commented on #48
Yes. Thanks for your help.

[2020-03-06 12:17] Johnspeanut opened #50 "Speed up otp_plan function"
Hello.

I run otp_plan function with batch routing and multiple cores. But the takes me more than 100 hours to run the function since I try to calculate a travel time matrix of 110,000 columns and 110,000 rows. Is there any way I can speed up the otp_plan function? For example, trying to run otp_plan in C++ language?

Thanks.
Best,
John

[2020-03-06 15:33] mem48 commented on #50
Hi John,

12 billion routes is a lot! The switch to C wouldn't really help, as the R code spends time waiting for the Java code. So any improvement in the R code would be trivial. I do have some plans to improve the load balancing, which might see a small performance boost. You might also look at compiling the dev version of OTP 2.0 from source, as they are working on performance improvements.

If

[2020-03-06 16:01] Robinlovelace commented on #50
I suggest thinking about ways to optimise your work by identifying which of the 12 billion routes are most important, e.g. which are most likely to be used and which are within a reasonable distance. In-progress function `od_create(p = your_points, max_distance = 10000)` should be able to subset only the OD pairs that are 10 KM or less apart, for example: https://github.com/ITSLeeds/od/issues/7

[2020-03-09 11:19] Hussein-Mahfouz opened #51 "Add bannedAgencies parameter"
Hi, first off thank you for the brilliant package! I am new to R and this made my life very easy.

I wanted to suggest adding the **bannedAgencies** parameter to the otp_plan() and otp_isochrone() functions. This exists in [OpenTripPlanner ](http://dev.opentripplanner.org/apidoc/1.0.0/resource_PlannerResource.html). One use case I can think of is informal transit; you have formal buses and informa

[2020-03-09 22:39] mem48 commented on #51
Good suggestion I'll look into it. In the meantime you may be able to get the same effect with the config files see otp_make_config()

[2020-03-10 15:32] Johnspeanut commented on #50
Thanks a Malcolm.

May I know where I can download OTP 2.0? I cannot find a source to download OTP2.0.

Yes. Assuming travel time from A to B is the same as B to A is reasonable in my case. Please take a look at the code I am running.  I am trying to create a travel time OD matrix for blocks in the Washington metropolitan area.

toPlace   = blockpoints[rep(seq(1, nrow(blockpoints)), times = nrow(b

[2020-03-10 15:38] Johnspeanut commented on #50
Thanks Robin.
This is a good idea.
But if I subset only OD pairs that are 10 KM or less apart, the number of points of 'from_place' is not the same as the number of points of 'to_place'. I mean if the OD matrix is not a square matrix or not a column or not a row, The batch routing version of 'otp_plan' would report errors.

[2020-03-10 15:41] mem48 commented on #50
I've not built OTP from souce myself but there are instructions at http://docs.opentripplanner.org/en/latest/Getting-OTP/#building-from-source

If you want to do an OD matrix at block level, you could consider clustering blocks together. For example, even grouping the nearest 10 blocks into a groups would reduce the number of routes by a factor of 100. So you could get and OD matrix in just 1 hour

[2020-03-10 16:01] mem48 commented on #50
I'm going to close this issue as there is nothing wrong with the package, you just want to generate a lot of routes.

An interesting sidenote is that you can also do this with the Google distance matrix API, and they would only charge $48 million for it.

https://developers.google.com/maps/documentation/distance-matrix/usage-and-billing

[2020-03-10 16:01] #50 closed, assigned to nobody

[2020-03-10 16:02] Johnspeanut commented on #50
This is a good idea. I will try this method. Thanks a lot.

[2020-03-11 01:48] Johnspeanut commented on #50
Thanks.

[2020-03-14 11:29] orlandombaa commented on #20
Hello

I have a question.  So currently is not possible  to make a request of a isochrones using a matrix? I mean make many isochrones from many places?

I want to use this to measure the spatial coverage of all the stops of the network.

thank you

[2020-03-14 14:18] mem48 commented on #20
Hi, yes at the moment you can't input a matrix, you would have to write your own loop. Its on the to do list of features to add.

Writing a simple loop is easy, but providing the full multicore  batch processing that is in otp_plan() is more complex. Whichis why it has not been done yet.

[2020-03-15 17:07] mem48 commented on #20
@orlandoandradeb I've made a branch with batch isochrone support in the similar style to `otp_plan()` at https://github.com/ropensci/opentripplanner/tree/batch-isochrone let me know if it works for you.

[2020-03-16 17:04] mem48 commented on #51
@Hussein-Mahfouz  I've added this feature and a bunch more in a new branch https://github.com/ropensci/opentripplanner/tree/batch-isochrone let me know if it works for you. You can specify the bannedAgencies by using the routingOptions argument and the new functions otp_routing_options() and otp_validate_routing_options()

[2020-03-18 09:13] Hussein-Mahfouz commented on #51
@mem48 I see that you've added all the otp arguments to the otp_routing_options() function. This is fantastic!

I tried to test it but was unable to; I get a 'could not find function "otp_routing_options" ' error (I installed the development version of the package). Am I doing something wrong or is this function not available yet? I apologize if this is a silly question

[2020-03-18 09:28] mem48 commented on #51
Did you install the correct branch? You would need to do `remotes::install_github("ropensci/opentripplanner", ref = "batch-isochrone")`

[2020-03-18 10:11] mem48 commented on #13
Trimet uses differnt url strucutre in api and is not compatiable with the package :(

[2020-03-18 10:26] mem48 commented on #45
Closing until a testible service exists

[2020-03-18 10:26] #45 closed, assigned to nobody

[2020-03-18 10:26] mem48 commented on #13
Closing until testible service exists

[2020-03-18 10:26] #13 closed, assigned to nobody

[2020-03-18 10:32] Hussein-Mahfouz commented on #51
Oh thank you, my bad. I tried the bannedAgencies argument and it works when I add one agency to the bannedAgencies argument. However when I tried to add a list of agencies I get the following error:

`Error in vapply(elements, encode, character(1)) :
  values must be length 1,
 but FUN(X[[8]]) result is length 2`

This is how I am passing the argument
[code]
Am I doing something wrong?

[2020-03-18 22:00] mem48 commented on #51
yes, you need to pass a single character string, exactly as required by the OTP API http://dev.opentripplanner.org/apidoc/1.4.0/resource_PlannerResource.html I haven't implemented any interpretation of the inputs. So I think `routingOptions$bannedAgencies <- "firstAgency,secondAgency"` should work.

[2020-03-18 22:11] mem48 commented on #51
I've just pushed an update to `otp_validate_routing_options()` it should now give a warning that the length should be 1.

[2020-03-18 22:41] Hussein-Mahfouz commented on #51
It works now! It didn't at first but then I realized that there should be no spaces in the character string

[2020-03-19 09:02] mem48 commented on #51
Great, if you have any other feedback on how routing options could be improved let me know. Otherwise I will close this issue.

[2020-03-19 09:18] Hussein-Mahfouz commented on #51
I have no more feedback now :)

[2020-03-19 10:02] Robinlovelace commented on #51
I think this can be closed - please do so @Hussein-Mahfouz unless this is still an issue.

[2020-03-19 10:54] #51 closed, assigned to nobody

[2020-04-14 19:03] mem48 commented on #20
Batch Isochrone is done and on CRAN. Not going to do geocoding for now as no clear use case.

[2020-04-14 19:03] #20 closed, assigned to mem48

[2020-04-14 19:23] Robinlovelace commented on #20
Great work @mem48, productive social distancing!

[2020-04-24 11:26] Robinlovelace opened #53 "Docker container with OTP and opentripplanner"
Worth doing.

[2020-05-20 10:43] mem48 opened #54 "Bug when working in non-UK time zones"

[2020-05-20 10:49] mem48 commented on #54
In a nutshell, I’m located in Montreal, Quebec, where Eastern Standard Time was in effect for my date of interest (5 Feb. 2020) (GMT minus 5 hours).  For my routing, I provided  departure times with a POSIXct ymd hms format (e.g. 2013-11-21 11:30:00) and a time zone I assigned using “tz” (tz(merged_complete$parsed_time_mtl) <- "EST").

I constructed a loop to iterate over the O-D pairs and their a

[2020-05-20 10:50] mem48 commented on #54
I've pushed a commit that switches the time from GMT to UTC as this is simply wrong.

Idealy you would like the resutls back in the correct timezone. this needs some thinking about

[2020-05-20 10:54] mem48 commented on #54
The problem is not in the sending of the reqest to OTP but how the result is returned.

OTP gives time as UNIX time in milliseconds. This is correct regardelss of timezone. But the CRAN package is assuming you want the result in GMT. Which is dumb, so I've updated the github version to assume UTC which is a little better.

Idealy you would assume the correct local time, but I'm not sure if OTP ret

[2020-05-20 14:00] mem48 commented on #54
I've just pushed another change that adds a `timezone` argument to `otp_plan` which should let you set the timezone to use. By default it will use your local timezone `Sys.timezone()` but you can also set it to any other valid timezone.

[2020-05-20 14:02] Robinlovelace commented on #54
Awesome work, impressive quick fix :tada:

[2020-05-20 14:04] mem48 commented on #54
@Robinlovelace one to add to the list of things we need to spport in all routing packages

[2020-05-20 14:10] mem48 commented on #54
It might be useful to specify this as a global variaible e.g. via `otp_connect`

[2020-05-22 18:15] dhersz opened #55 "otp_plan returning NA when mode is set to "TRANSIT""
I was testing the `otp_plan` function and when I set the `mode` argument to transit I got `NA` as the result. It runs alright for car, walk and bicycle, but none of the transit options work.

I guess it's hard to send a reproducible code, but here is a example:

[code]

I didn't create the graph object with the `otp_build_graph`, since I have just recently found out about this package, but I don't

[2020-05-25 14:35] dhersz commented on #55
Hello, just a little update.

I tried creating the Graph with `otp_build_graph` to see if anything would change, but as expected that was to no avail.

Then I tried running the demo use case in the [getting started vignette](https://docs.ropensci.org/opentripplanner/articles/opentripplanner.html) to see if the problem was my data, but apparently I'm getting the same results:

[code]

Googling for

[2020-05-28 13:29] mem48 commented on #55
Hi @dhersz a few things to check.

1. Can you run `sessionInfo()` and copy the results
1. Can you get routes using the web interface, this is what I get when I try your example on the demo data:

![2020-05-28](https://user-images.githubusercontent.com/15819577/83147170-367cd500-a0ef-11ea-9ca4-f97ff0dc462d.png)

Can you try this for both the demo data and your own data.

You need to use otp_build_g

[2020-05-28 13:34] mem48 commented on #54
Note to self, demo data may not work now in non-UK regions due to wrong timezone, update examples.

[2020-05-28 17:14] marcusyoung commented on #54
@mem48 I added tz support in otpr via otp_connect(), if you want to look at my approach. Explained in [news](https://github.com/marcusyoung/otpr/blob/master/NEWS.md) for 0.3 release.

[2020-05-28 17:17] marcusyoung commented on #47
@mem48  haha, you found that too! I'm running sf::st_make_valid() before returning them now. Seems to work ok.

[2020-05-29 00:01] jamiedeweese opened #56 "Any way to recover routes after R crashes?"
I was trying to calculate a transit travel-time matrix for use in an accessibility analysis. I have 970 centroids, so I'm generating ~944K routes.  Just as I reached 100%--2 days and 7 hours of processing--R encountered an error.  OTPmain is still showing up in the activity monitor, with about 14.11 GB  of memory.  I'm wondering if there is any way to recover those routes before I stop the instanc

[2020-05-29 00:06] jamiedeweese commented on #55
For what it's worth, I encountered the same problem a few weeks ago.  I'm not sure if it was the right way to handle it, but I changed the mode to WALK and TRANSIT, and it worked.

mode = c("WALK", "TRANSIT")

[2020-05-29 01:55] dhersz commented on #55
@jamiedeweese That's exactly it, thanks! Seems kinda obvious now that you've said, since that's exactly how one would build the API URL, but I totally overlooked it.

Sorry about the fuzz.

[2020-05-29 02:51] dhersz commented on #55
Ok, after some new testing I found what seem to be an error (not sure if an error, but at least seems to be a behaviour I wouldn't expect). It happens when I send a matrix to `fromPlace` and `toPlace` arguments. Building up on the demo data example:

[code]

When sending a matrix to `fromPlace` and `toPlace` it tries to calculate the route between the correspondent row of each argument (e.g. the p

[2020-05-29 06:14] mem48 commented on #54
Thanks, I saw your also adding support for OTP 2, looks good

[2020-05-29 06:18] mem48 commented on #47
I'm using the st_buffer(0) trick which works and doesn't add extra dependencies. But st_make_valid should produce a similar result.

[2020-05-29 08:21] marcusyoung commented on #54
Yeah, mainly developing based on requests from one or two of our PhD students who are using it.

[2020-05-29 12:15] jamiedeweese commented on #56
I've experienced the same crash after subsetting my O-D pairs into smaller groups. I assumed that perhaps the size of the desired data frame at the end (with observations for all of the intermediate transit steps) was to blame for the crash.  My first run was 350k pairs.  The operation ran in a little over five hours on a 8-core MacBook Pro with 64 gb of memory, which seemed pretty fast.  But once

[2020-05-29 13:37] jamiedeweese opened #57 "small typo in vignette"
While teaching myself using the vignettes, I came across a smaller error in the advanced vignette. (https://cran.r-project.org/web/packages/opentripplanner/vignettes/advanced_features.html)

In the pivot_wider function, the document uses the older terminology from the spread and gather functions (key and value) instead of names_to and values_to.  It throws an error when executing the code.

routes

[2020-05-30 07:53] #57 closed, assigned to nobody

[2020-05-30 07:54] mem48 commented on #57
Thanks, I've updated the vignette

[2020-05-30 08:07] mem48 commented on #55
`otp_plan` works through the routes pairwise. So the length of fromPlace and the toPlace must be the same. What you asked for is the route from A to A and B to B so you get 2 routes. OTP won't route a distance of 0 so you get the error `Origin is within a trivial distance of the destination`.

On a side note `matrix` is a function in base R, so not a good practice to call your variable `matrix` ,

[2020-05-30 08:10] #55 closed, assigned to nobody

[2020-05-30 08:15] mem48 commented on #56
I edited your comment to add ``` code blocks, to make it easier to read

[2020-05-30 08:25] mem48 commented on #56
You are doing very large batches which suggest that it could be a memory problem. Especially as you said, it worked fine with small batches. I've successfully run up to 1 million routes at once, but on a 128GB workstation.

As it is failing once you reach 100% the problem probably comes from joining the results together from each of the workers. You are using `ncores = 7` so you have 7 * 50,000 ro

[2020-05-30 08:40] mem48 commented on #56
If batches of 10,000 work, write a simple loop to work over your whole dataset in batches. You can save each batch to disk and prevent and progress being lost. Apart from the time writing to disk, there will be no significant slow down in computation time.
Also after generating each batch, you could drop any columns you don't need which would free up memory.

And to answer your original question,

[2020-05-30 08:48] mem48 opened #58 "Add CRS check to otp_clean_input"
Doesn't chek CRS of st points

[2020-05-30 09:18] #58 closed, assigned to nobody

[2020-05-30 09:19] mem48 commented on #58
We check the matrix which is more generic, but I'morved error message to make clearer to user what has gone wrong

[2020-05-30 09:57] mem48 commented on #54
added timezone support to otp_connect, otp_plan and opt_isochrone

[2020-05-30 09:57] #54 closed, assigned to nobody

[2020-05-30 09:58] mem48 opened #59 "OTP 2.0"
Quite a lot is changing thanks to @marcusyoung for info from otpr

[2020-05-30 09:59] mem48 commented on #59
Need to submit current dev version to CRAN before starting on these changes

[2020-05-30 14:09] mem48 opened #60 "otp_plan fails with error: found multiple dimensions: XYZ XY"
This is a known error with sf and dplyr 1.0

https://github.com/r-spatial/sf/issues/1390

Current workarounds

revert to dplyr 0.8.5

Use otp without a DEM, as problem is only with XYZ coordinates

[2020-05-30 14:11] Robinlovelace commented on #60
Have you tried `data.table`? I found `rbindlist()` more than 100 times faster than `rbind()` and much faster than `bind_rows()`.

[2020-05-30 14:14] mem48 commented on #60
I'd have to rewrite a big chunk of the package

[2020-05-30 14:23] Robinlovelace commented on #60
I don't think so. It's not necessarily an either/or. I recently added `data.table` as a Suggests to `stplanr` just for the fast row binding functionality. If it's a Suggests it doesn't increase install times be default.

[2020-05-30 16:03] mem48 commented on #60
I gave it a go, but now tha package needs both dplyr and data.table. Is there an alterative to bind_cols?

[2020-05-30 19:00] Robinlovelace commented on #60
`cbind()` is pretty fast, not a bottleneck in the same way `rbind()` can be I think. Not sure if there's a `data.table` equivalent but would be surprised if not.

[2020-06-04 21:44] mem48 commented on #60
Github version is now using dev versions of `sf` and `vctrs` until this is fixed

[2020-06-07 21:17] mem48 commented on #56
@jamiedeweese I'm closing this unless you have any other questions, I've added a new `distance_balance` argument to `otp_plan` in the dev version, it should offer a small performance boost (about 5%) at the expense of the routes coming back in a different order to they are requested. It is a small gain, but when you're running such large batches it would be worth having.

[2020-06-07 21:17] #56 closed, assigned to nobody

[2020-06-11 14:34] mem48 commented on #26
Seems to work now

[2020-06-11 14:34] #26 closed, assigned to mem48

[2020-06-11 14:49] mem48 commented on #60
Fixed and sent to CRAN, still problem with no binary for `vctrs 0.3.1` so now working on `data.table`

[2020-06-11 14:49] #60 closed, assigned to nobody

[2020-06-12 23:06] lgaa320 opened #62 "R OTP initialization not working"
Hello!

I'm attempting to use OTP in R. I downloaded Java 8u251, and have been following the setup steps outlined in the getting started vignette. My commands entered thusfar are:

[code]
However, upon entering the log1 command, I receive the following error message:
[code]
I attempted setting memory to 5000 and 2500 -- did not solve the issue. How should I proceed?

Thanks much.

[2020-06-13 00:32] mem48 commented on #62
Java is asking for an additional 2,097,152 KB of memory, so `memory = 2500` should work.

What error message do you get then? How much RAM do you have in total? Do you have 32 Bit or 64 Bit Java installed?

[2020-06-13 23:29] lgaa320 commented on #62
Was checking my Java in trying to respond to your question...figured it out! I had accidentally installed 32 bit Java on my 64 bit computer. All is working now. Thanks for your help.

[2020-06-14 09:32] #62 closed, assigned to nobody

[2020-06-14 21:34] mem48 opened #63 "rapply"
use `rapply` on lists

[2020-06-15 15:52] #63 closed, assigned to nobody

[2020-06-15 18:54] lgaa320 opened #65 "Overlong load time in otp_setup"
Hello again, and sorry for opening another issue. Problem this time is that OTP is taking an extremely long time to set up. The message received is:
[code]

My code is:

[code]
And my file structure looks like:

[img]https://i.imgur.com/axXkMZs.png[/img]

Thanks so much.

[2020-06-17 17:06] mattdpalm commented on #30
Hello,

I am encountering the same issue:

[code]

 except the solution posted by Kiminnewzealand did not work for me. I tried:

[code]

and got the error:

`Assertion on 'memory' failed: Element 1 is not >= 500. `

[2020-06-17 20:05] mem48 commented on #30
@mattdpalm are you using the demo data? What kind of computer are you using? Have you checked all the requirments in the prerequisites https://docs.ropensci.org/opentripplanner/articles/prerequisites.html

[2020-06-17 20:26] mem48 commented on #65
So as it says in the [documentation](https://docs.ropensci.org/opentripplanner/reference/otp_setup.html) `otp_setup` will only wait 5 minutes before releasing control of R.

You have a large graph of 0.8 GB so it is possible that you simply need to wait longer. Look in task manager and see if Java is still using CPU.

![image](https://user-images.githubusercontent.com/15819577/84946464-af64c080-b0

[2020-06-17 20:54] mem48 commented on #65
I noticed you set 54GB of memory to build the graph but are using the default 2GB to run otp. If you needed 54 GB it is unlikely to run in just 2GB.

[2020-06-18 21:17] mattdpalm commented on #30
Malcolm, thank you. I managed to make it work with the demo data. But am
now trying to replicate with Atlanta Region GTFS and State of Georgia (USA)
OSM.
It's a laptop with 16 gig of ram, 64-bit, Windows 10, using the latest V8
of Java for 64 bit.

On Wed, Jun 17, 2020 at 4:05 PM Malcolm Morgan <notifications@github.com>
wrote:

[2020-06-19 08:44] mem48 commented on #30
The whole state of Georgia might be too big to fit in to 16GB of ram. I'd suggest trying a smaller are first like the biggest city to get a feel for how much RAM is needed. Remember to use the memory argument in otp_build_graph and otp_setup

[2020-06-22 17:01] mem48 commented on #30
@mattdpalm I'm closing this issue as I don't think your problem is caused by anything wrong with the package.

[2020-06-22 17:01] #30 closed, assigned to nobody

[2020-06-30 15:31] mattdpalm commented on #30
Hi Malcom,

I reduced the OSM street file down to the Atlanta area.  The graph was
built--it's only 170 mb.  But I still receive the error code about it
taking too long to run. So the solution is memory=1?

Thank you

On Mon, Jun 22, 2020 at 1:02 PM Malcolm Morgan <notifications@github.com>
wrote:

[2020-06-30 15:36] mem48 commented on #30
Hi, @mattdpalm I think you are having the same problem at #65 so can you try the suggestions there and if that doesn't work post on that issue?

[2020-07-01 19:20] jamesdeweese commented on #49
- Maybe enable selection of the correct Java version if more than one is installed on the system? -- It would be great to be able to select which version of Java to use from inside the package so that OTP will run if you have more than just 8 installed. (E.g. I have 8 and 11.). I wonder if the feature could be set up so it's  done manually in the otp_set_up function or if the code could try behind

[2020-07-02 14:44] mem48 commented on #49
@jamesdeweese good suggestion, but I'm not sure how to make this happen from R, any suggestions welcome

[2020-07-02 22:18] jamesdeweese commented on #49
@mem48 I'm just learning a lot of this, but I'm anxious to contribute to the package since it's been really useful to me.   I could definitely work on figuring out what it might look like as a standalone script. (I think I've got at least a vague notion of how I might be able to get it to work on a Mac.) Once I've got the code working, I could hand it off to you.  Or, if you'd be willing to help m

[2020-07-02 22:29] mem48 commented on #49
Give it a go and let me know. Don't worry too much about integrating it into the package.

The key bit of code is:

[code]

[2020-07-24 08:22] AlexandraKapp opened #66 "non-deterministic batch routing?"
Hi,
thanks for the work on the package - makes especially batch routing with OTP super easy.
I just ran into one problem:
I'm using `otp_plan` for batch routing (~4000 routings). It seems, that even though all parameters are set identical for two runs, the batch routing does not always return the same results.
E.g. for one route there are once 2 options and once 3 options (therefore also leading t

[2020-07-27 10:37] mem48 commented on #66
Hi @AlexandraKapp I've not come across this problem before. But it sounds more like a bug in OTP itself rather than the R package.

I suppose the obvious difference is the time of day you did the routing, or are you fixing the date an time?

If you can give me some more detail e.g. R version, package, version, options you are setting I might be able to give you a more complete answer.

[2020-07-27 10:37] #65 closed, assigned to nobody

[2020-07-27 10:37] #53 closed, assigned to nobody

[2020-07-27 11:01] AlexandraKapp commented on #66
Hi, thanks for the response.

This is the query I run (with "to_list" being a sf data frame of ~4000 points), so all parameters (as date) should be fixed.

[code]

R Version: 4.0.2
opentripplanner version: 0.2.3.0

[2020-07-27 14:55] mem48 commented on #66
Have you specified the timezone in `otp_con` and can you reproduce the problem on a smaller batch?

Could you post the results you get? Do all 4000 give the wrong result or just some?

[2020-07-27 17:52] AlexandraKapp commented on #66
So I tried with only 50 examples (random 50 stops out of the VBB GTFS Feed - see attached csv), and there the same happens: running the query with the exact same parameters returns different results.

[code]

All three runs return different amount of rows.

[stops_example.zip](https://github.com/ropensci/opentripplanner/files/4983588/stops_example.zip)

[2020-07-27 18:50] mem48 commented on #66
A few more things to check:

1. Try running it with only single core `ncores = 1`
2. Try running without the `routeOptions`
3. Try getting the geometry and comparing the routes, is there a clear difference e.g. a bus route that is only sometimes considered?
4. Can you check if the routes are matched across each run, i.e. the run with the most rows includes all of the routes in the run with the lea

[2020-07-27 19:09] mem48 commented on #66
If it is happening with 50 routes, try reducing again, it will be easier to debug with the smallest number of examples.

[2020-07-27 19:09] mem48 commented on #66
I tried running this on the test data and I had no trouble

[code]

Could you confrim that these all work for you on the test data?

[2020-07-28 08:36] AlexandraKapp commented on #66
I tried you're code on the test data and with my own data - both has worked fine.

I played around with the parameters a little bit on my data and found:

- different responses are produced starting from about 30 toPlaces
- the more toPlaces, the more different responses (as the majority of routings return the same response)
- the setting of paramters does not make a difference (timezone, nCores,

[2020-07-28 14:17] mem48 commented on #66
Hi @AlexandraKapp I download the data you linked to and I can't reproduce your problem

[code]

I think this is a specific problem with your data, not with the package. Does this example work for you? If so can you provide some exmaple places where is does not work?

[2020-07-28 14:31] AlexandraKapp commented on #66
Hi, thanks for all your effort!

I cannot really name single places where it doesnt work, as those always change.
Maybe it makes a difference if its all different places, instead of repeated places?
Maybe if you try the toPlaces I listed in the csv?
Its just the first 50 stops from the gtfs `stops.txt` file.

https://github.com/ropensci/opentripplanner/issues/66#issuecomment-664545534

I will also

[2020-07-28 16:09] mem48 commented on #66
Hi @AlexandraKapp I can reproduce the error, but as far as I can tell it is a bug in OTP, not the package.

This worked by repeatedly asking for the same route

[code]

It might be due to the timeout options, meaning that sometimes OTP times out before finding the extra route and sometimes it doesn't you can adjust the timeouts with the config files

[2020-07-28 16:18] mem48 opened #67 "upper value must be greater than lower value"
[code]

[2020-07-28 16:29] AlexandraKapp commented on #66
thanks!

[2020-07-28 20:12] mem48 opened #68 "Keep connections open"
https://stackoverflow.com/questions/22940150/fast-url-query-with-r/22942357#22942357

[2020-07-28 20:37] mem48 commented on #66
I'm going to close this issue as I don't think it is a bug in the R package, but reopen if you find out otherwise

[2020-07-28 20:37] #66 closed, assigned to nobody

[2020-08-04 11:08] rafavdz opened #69 "maxTransfers is logical in otp_validate_routing_options when it should be integer"
Hi,

Great package I am enjoying it a lot! Thanks for the contribution.

I tried to edit  otp_routing_options to limit the number of transfers in a request. However, when using otp_validate_routing_options it fails since it expecting a logical value when it should be an integer.

[code]

Returns:

[code]

Best,
Rafa

[2020-08-05 11:15] mem48 commented on #69
Thanks, @rafavdz I've just committed a fix to a branch that I'm working on. So will come to the CRAN package eventually. In the meantime, you could manually edit the config JSON to add the maxTransfers value you want.

[2020-08-05 11:16] #69 closed, assigned to nobody

[2020-08-05 11:16] #68 closed, assigned to nobody

[2020-08-12 14:48] knapply commented on #49
I'm late to the party, but I wanted to follow up on https://github.com/eddelbuettel/rcppsimdjson/issues/47 so "Ideas for next version" seemed like the appropriate place.

It looks like you've already begun experimenting with RcppSimdJson, but please reach out if you'd like assistance with this. That could be as simple as asking for another set of eyes to optimize any inclusion or as complex as ass

[2020-08-14 22:38] mem48 commented on #49
Thanks for this I'll definitely give it a try, there are multiple parts of the json file required but not 100% so should be some performance gains to be had. I think I'm approaching diminishing returns as the parsing of the results is now much faster than waiting for otp to produce the result

[2020-08-15 09:06] mem48 commented on #49
@knapply  I tried your idea

[code]

As I thought only a very small performance boost, as the "plan/itineraries" section I need is 90% of the whole JSON file. But it will also allow me to remove a few lines of R code so a boost worth having.

Are their plans for a write json function? At the moment I have to keep `rjson` as a package dependency so I can write and read json. It would be nice to red

[2020-08-16 20:35] knapply commented on #49
Well, I'm glad it may be somewhat helpful!

The simdjson library itself doesn't yet support serialization, but it is on their "post 1.0" agenda: https://github.com/simdjson/simdjson/issues/821.

I wouldn't expect it anytime soon, but I'm sure we'll add support for it when they get around to it upstream.

[2020-08-17 11:44] mem48 opened #73 "0.3 release"
- [x] route option missing from results

- [x] benchmark results

- [x] check otp_plan for all modes

- [x] check otp_isochrone

- [x] run full tests

- [x] increase code coverage

- [x] run onboarding tests

- [ ] spell check documentation

[2020-08-17 12:06] mem48 commented on #73
- [x] elevation always returned

[2020-08-17 12:27] mem48 commented on #73
- [x] incorrect bbox from otp_plan

[2020-08-19 10:02] mem48 commented on #73
- [x] improve test quality

[2020-08-28 14:58] mem48 commented on #73
- [x] transit routing  Error in data.table::rbindlist(results_routes) :
  Item 2 has 34 columns, inconsistent with item 1 which has 43 columns. To fill missing columns use fill=TRUE.

[2020-10-21 10:31] mem48 commented on #73
- [x] Fare missing for transit routes

[2020-10-21 12:44] #67 closed, assigned to nobody

[2020-10-24 15:37] jamesdeweese commented on #49
It's been a while, but I finally sort of figured out how to adjust the Java version that the package uses ... I still haven't figured out how to incorporate it into the package's code directly (and I've only tested this with success on a Mac), but if you find the path to your Java 8 version by running :

`/usr/libexec/java_home -V `

in the Terminal, you can then set your options in R studio with

[2020-11-05 08:56] #73 closed, assigned to nobody

[2020-11-05 08:58] Robinlovelace commented on #73
Great to see all these issues resolved. Let me know if you'd like me to test any of the new functionality.

[2020-11-20 14:58] wangsicheng1988 opened #74 "Allocate the space when creating an OPT Graph"
I was stuck when creating an OTP graph.
It says: "Error in otp_build_graph(otp=path_otp, dir=path_data, memory=10240)"

Later I figured out that it was caused by the version of Java on my computer. I had Java 15 but OTP is only applicable for Java 8 or earlier versions. So I changed my Java and the error message disapeared. But I got another error. It says:
"Failed to build graph with message:
Inv

[2020-11-20 17:28] mem48 commented on #74
Sounds like you don't have enough RAM, you can't allocate more memory than you have RAM.

Or you may have installed the 32 Bit version of Java, in which case you will be limited to 4GB anyway check the guidance here https://docs.ropensci.org/opentripplanner/articles/prerequisites.html

[2020-11-21 02:43] wangsicheng1988 commented on #74
My unused RAM is more than 30 GB, and I have Java 64 Bit version on my computer.

[2020-11-22 05:37] orlandombaa commented on #74
Hello
I have a similar problem. Which is in the same part.  I have the following code:

`log1 <- otp_build_graph(otp = "C:/Users/Hola/Documents/UPC/PhD/Papers/Paper 3/Data/OTP/otp.jar", dir = "C:/Users/Hola/Documents/UPC/PhD/Papers/Paper 3/Data/OTP", memory =5120) `

`otp_setup(otp = "C:/Users/Hola/Documents/UPC/PhD/Papers/Paper 3/Data/OTP/otp.jar", dir = "C:/Users/Hola/Documents/UPC/PhD/Papers/Pa

[2020-11-23 10:55] mem48 commented on #74
@orlandoandradeb can you paste the contents of `log1`

OTP makes the `Graph.obj` then fills it with content, so it sounds like the graph build failed midway

[2020-11-23 12:34] mem48 commented on #74
@wangsicheng1988 Have you successfully built the example graph in the documentation?

[2020-11-25 17:45] mem48 commented on #74
@wangsicheng1988 I'm seeing this problem with using a large amount of memory on the newest version of Java 8, this only occurs when using via R and not when sending commands directly to the command line. I will investigate futher.

[2020-11-25 18:37] wangsicheng1988 commented on #74
No, I haven't built the example graph yet. I found that I can't create the
Java Virtual Machine on my PC.  I don't have experience with Java in the
past, and when I installed JDK 8 I always got an error message saying:
"Java Virtual Machine Launcher Error: Could not create the Java Virtual
Machine. Error: A fatal exception has occurred. Program will exit." I have
tried many solutions that I found

[2020-11-25 20:41] mem48 commented on #74
You don't need JDK just the basic JVM from
https://www.java.com/en/download/

[2020-11-25 22:36] wangsicheng1988 commented on #74
Doesn't work as well.

On Wed, Nov 25, 2020 at 3:41 PM Malcolm Morgan <notifications@github.com>
wrote:

--
Sicheng Wang

*Ph.D. Student *
*Bloustein School of Planning and Public Policy,*
*Rutgers, the State University of New Jersey.*
*E-mail: sicheng.wang@rutgers.edu <sicheng.wang@rutgers.edu>*

王思成

博士研究生
罗格斯大学城市规划和公共政策学院

[2020-11-25 23:41] orlandombaa commented on #74
Hello @mem48
Yes the ouput is the following......

`Error in otp_setup(otp = "C:/Users/Hola/Documents/UPC/PhD/Papers/Paper 3/Data/OTP/otp.jar",  : `

`Además: Warning message:`
`In otp_checks(otp = otp, dir = dir, router = router, graph = TRUE) :`
 ` Graph.obj exists but is very small, the build process may have failed`

I tried with the  example that you give in the tutorial and generates the gra

[2020-11-26 00:09] mem48 commented on #74
@orlandoandradeb It sounds like there is a problem with our data, try buidling with just the PBF file, and then gradually add files until you find the one that is causing the crash.

Your `log1` object should contain hundreds of lines of text from OTP so I don't think you have posted it here?

[2020-11-26 00:29] orlandombaa commented on #74
Hello @mem48 no I have not posted lines of the `log1`

I will try being just with the PBF.

One thing that is very strange for me is that I am running the same code that I used some months ago and It worked perfectly.

Now I am using other data that I am 100 % that is correct which is from Barcelona (the gtfs and the PBF) and it simply ignore this data in the web explorer when I want to make a rou

[2020-11-26 09:38] mem48 commented on #74
@wangsicheng1988 I've raised an issue on stack overflow https://stackoverflow.com/questions/65019259/invalid-maximum-heap-size-when-calling-java-from-r which I think is the same problem you are having. It seems that on the newest version of Java there is an issue calling Java from R. But I was able to successfully run OTP using the terminal.

You could try running these commands in R which will gi

[2020-11-26 15:57] mem48 commented on #74
@wangsicheng1988 I think I have found the problem, I have pushed a new version of the package please try installing it

[code]

[2020-11-27 04:32] orlandombaa commented on #74
I found my problem.  The graph is built correctly without my gtfs (which I created and I am testing) just with the PBF.

My gtfs must to have some error that makes that the graph for some reason does not build correctly

[2020-11-27 20:54] wangsicheng1988 commented on #74
I solved the problem. Nothing is wrong with R. It was the version of Java
again. I installed JDK 1.8.162 and it worked. I have tried 1.8.271,
1.8.172, and 1.8.162, but they all failed to create the virtual machine. I
guess it is a system issue on my computer.

On Thu, Nov 26, 2020 at 11:33 PM orlandoandradeb <notifications@github.com>
wrote:

--
Sicheng Wang

*Ph.D. Student *
*Bloustein School of

[2020-11-29 03:08] wangsicheng1988 opened #75 "otp_connect"
I am learning your package by following "opentripplanner: getting started." I am trying to estimate transit accessibility in Chicago. When I was creating the OTP connection, I set the timezone as "American/Chicago." The code was:

_otpcon <- otp_connect(hostname = "localhost",router = "default",port = 8801,tz = "America/Chicago",ssl = FALSE)_

Then I tested it by getting a route between two point

[2020-11-29 09:29] mem48 commented on #74
@orlandoandradeb read trhough the log1 file it will probably give you a clue to what the problem is also look at https://github.com/google/transitfeed/wiki/FeedValidator which is a programe to check GTFS feeds for errors.

[2020-11-29 09:30] mem48 commented on #74
Sounds like both of you have solutions, and as their is nothing wrong with the R package I'm going to close this issue

[2020-11-29 09:30] #74 closed, assigned to nobody

[2020-11-29 15:45] mem48 commented on #75
A few things:

1) In otp_connect() the argument is timezone not tz
2) You do not have 'RcppSimdJson' >= 0.1.2 installed, your option are:
    a) Install/Update RcppSimdJson
        If you can't install RcppSimdJson, you may need to update the latest version of R
    b) Rever to version 0.2.3 of opnetripplanner (see https://github.com/ropensci/opentripplanner#rcppsimdjson)

Not sure what is causing

[2020-11-29 16:58] wangsicheng1988 commented on #75
When I used the argument "timezone" it showed:
Error in otp_connect(hostname = "localhost", router = "default", port = 8801,  :
  unused argument (timezone = "America/Chicago")

[2020-11-29 18:32] mem48 commented on #75
You must have some other package installed that is conflicting with `opentripplanner` as the argument is `timezone` see `?otp_connect`

[2020-11-29 21:37] wangsicheng1988 commented on #75
Yes I had an otpr package which is now removed.

There is another issue that I am encountering:
I saved my data in the path as:
/ otp
<https://cran.r-project.org/web/packages/opentripplanner/vignettes/opentripplanner.html#cb18-2>
      /graphs

<https://cran.r-project.org/web/packages/opentripplanner/vignettes/opentripplanner.html#cb18-3>
/default
<https://cran.r-project.org/web/packages/opentripp

[2020-11-29 22:32] mem48 commented on #75
Have you tried all of these fixes? https://docs.ropensci.org/opentripplanner/articles/known_issues.html#reasons-for-graph-building-to-fail

[2020-12-01 13:18] mem48 commented on #49
- [x] Surface API http://docs.opentripplanner.org/en/v1.5.0/Surface/

[2020-12-02 07:50] StatistikVolker opened #77 "Can't create Graph.obj"
Thank you for the R Package opentripplannner.
Unfortunately it is for me not longer possible to create a userdefined Graph.obj.

I try this wiht fhr opentripplanner function otp_build_graph like this:

`city = "JENA"
optdir = "OTP3"
newdir <- file.path(getwd(), otpdir)
path_otp <- opentripplanner::otp_dl_jar(newdir, cache = FALSE)
log1 <- opentripplanner::otp_build_graph(otp = path_otp, dir = newd

[2020-12-02 22:05] mem48 commented on #77
Please post the contents of the `log1` object it will contain the reason the graph did not build

[2020-12-02 22:17] mem48 commented on #77
Also please comfrim you have checked all the common reasons for a failure listed in the documentation https://docs.ropensci.org/opentripplanner/articles/known_issues.html#reasons-for-graph-building-to-fail

[2020-12-02 22:17] StatistikVolker commented on #77
Thank you for your answer - I'' check yor link.

log1 contains this:

`> log1
 [1] "08:42:54.876 INFO (OTPServer.java:39) Wiring up and configuring server."
 [2] "08:42:54.881 INFO (GraphBuilder.java:165) Wiring up and configuring graph builder task."
 [3] "08:42:54.884 INFO (GraphBuilder.java:171) Searching for graph builder input files in C:\\Arbeitsordner\\Jena\\OTP_Jena\\OTP3\\graphs\\JENA"
 [

[2020-12-02 23:54] mem48 opened #78 "r5"
r5 is an offshoot of OPT2 with focus on analysis.

There is already an R package https://github.com/ipeaGIT/r5r

Jar from https://www.ipea.gov.br/geobr/r5r/jar_repo/r5-v6.0.0-6-g106eecf-all.jar

Could OTP2 support enable r5 support?

[2020-12-03 08:39] mem48 commented on #77
The problem is in the log

`"08:42:54.979 ERROR (GraphBuilder.java:211) Found no input files from which to build a graph in C:\\Arbeitsordner\\Jena\\OTP_Jena\\OTP3\\graphs\\JENA"`

[2020-12-03 09:34] mem48 opened #79 "[Need Help]"
Thank you for using OpenTripPlanner for R. This issue template is to help you provide the necessary information for us to help you.

## Pre Issue Check List

Before opening a new issue please confirm you have done the following:

- [ ] I have searched through [old issues](https://github.com/ropensci/opentripplanner/issues?q=is%3Aissue) for people with similar problems

- [ ] I have read the [Prere

[2020-12-03 12:15] #79 closed, assigned to nobody

[2020-12-03 12:20] #59 closed, assigned to nobody

[2020-12-09 08:04] StatistikVolker commented on #77
Dear Malcom,
thank you for your help - and sorry for the delay in answering: I was very busy with other things.
Of course you're right: Without input file - no graph.pbf is producable.
After that it was really easy - thanks!

But...

To produce my Inputfile, my workflow is:

I Download OSM Data from Geofabrik (https://download.geofabrik.de/europe/germany.html --> Column ".osm.pbf")
Download osmfil

[2020-12-09 21:20] orlandombaa opened #80 "N*N matriz"
Hello

I just created a  GTFS for an alternative transit network for a project. I want to generate a N*N matrix from all my origins to all my destinations.
I am trying to this with two different approaches. One is the following:

1)
`toPlace <- centroides [rep(seq(1,nrow(centroides)), times= nrow(centroides)),]`
`fromplace <- centroides [rep(seq(1,nrow(centroides)), each= nrow(centroides)),]`

`##

[2020-12-09 22:05] mem48 commented on #77
The "Could not infer floor number for layer" are about OTP's support for elevators and are unlikly to cause the process to fail. I see many of these messages but they nexer cause the graph build to fail. The clue will be in the final few messages before the process fails.

[2020-12-09 22:07] mem48 commented on #80
You are inputing `fromID = c("WALK","TRANSIT")` I think you mean `mode = c("WALK","TRANSIT")`

[2020-12-09 22:27] orlandombaa commented on #80
Hello

Sorry, yes it is `mode =  c("WALK","TRANSIT")` it was a mistake when I write her but in the code I have that. I attach a photo:

https://mega.nz/file/KRxAyR6D#_5S-lm2vSo4kepdz2T-zmsf38V7BfzDrMb7MkBeCt7k

[2020-12-09 23:10] mem48 commented on #80
That doesn't give me but to go on, but the error message is clear `The length of fromID and fromPlace are not the same` you can check this with `length(fromPlace) == length(fromID)`

[2020-12-09 23:18] mem48 commented on #80
Also you seem to be using the same object for fromID and toID which will not work. Look at the example in the documentation https://docs.ropensci.org/opentripplanner/articles/advanced_features.html#all-to-all-routing

[2020-12-10 17:06] StatistikVolker commented on #77
Dear Malcom,
that's right - the clue was in line 1011 of my log1.
`[1011] "Exception in thread \"main\" java.lang.OutOfMemoryError: GC overhead limit exceeded"`
With extenstion of the memory-option in `otp_build_graph` it worked fine!

Unfortunately only the first 1000 lines of `log1` where displayed on the screen by default.
I used then
`log1[900:length(log1)] `
to display the last lines as well

[2020-12-10 19:36] gartlano opened #81 "[Need Help]"
- [ ] Other

## Session Info

R version 4.0.3 (2020-10-10)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 19042)

Matrix products: default

locale:
[1] LC_COLLATE=English_Ireland.1252  LC_CTYPE=English_Ireland.1252    LC_MONETARY=English_Ireland.1252 LC_NUMERIC=C
[5] LC_TIME=English_Ireland.1252

attached base packages:
[1] stats     graphics  grDevices utils     da

[2020-12-11 15:17] mem48 commented on #81
This is a problem with tmap not opentripplanner see https://cran.r-project.org/web/packages/tmap/vignettes/tmap-getstarted.html

[2020-12-11 15:17] #81 closed, assigned to nobody

[2020-12-11 15:19] mem48 commented on #77
you can show the top of any R object with `head()` and the  bottom with `tail()`

[2020-12-11 15:19] #77 closed, assigned to nobody

[2020-12-11 15:20] #75 closed, assigned to nobody

[2020-12-14 06:26] orlandombaa commented on #80
Thank you. I read the documentation and it worked!

[2020-12-15 14:24] mem48 commented on #80
A valuable life lesson 😆

[2020-12-15 14:24] #80 closed, assigned to nobody

[2021-02-18 17:13] dhersz opened #85 "[BUG] Datetime being parsed incorrectly"
**Describe the bug**
I'm trying to calculate some routes departing from the following datetime: `format(as.POSIXct("13-05-2019 14:00:00", format = "%d-%m-%Y %H:%M:%S"`. However, `otp_plan()` only returns itineraries that start very early in the morning. I tried playing a bit with the `timezone` argument but nothing worked. Then I checked how datetimes were parsed inside the function and realized t

[2021-02-18 17:44] mem48 commented on #85
@dhersz can you share the code you are using for `opentripplanner` otherwise I can't see what you are doing

[2021-02-18 17:48] mem48 commented on #85
Also I suggest you use the `lubridate` package as formatting date-times in R can be fiddly

[code]

[2021-02-18 17:49] dhersz commented on #85
This is how I'm calling `otp_plan()`:

[code]

**EDIT:**

I think this has to do with my OS, I just tried with `lubridate` and I get the same results.

[2021-02-18 17:50] mem48 commented on #85
Did you specify a `timezone` in `otpcon` and have you tried using lubridate. I think the problem is with how you are specifying the `date_time`

[2021-02-18 17:52] mem48 commented on #85
Doesn't sound like a problem with the package, as I can get the correct time on my computer. I'd try googling date/time problems in R

[2021-02-18 17:53] dhersz commented on #85
Yes, `otpcon$timezone` is specified as `"America/Sao Paulo"`.

Also tried with `lubridate` and didn't work. The problem might be with my OS? Not sure.

[code]

[2021-02-18 17:55] dhersz commented on #85
From `strftime()` documentation:

[2021-02-18 18:01] mem48 commented on #85
Perhaps your local does not support the `%p` ? OpenTripPlanner expects the time with an AM/PM value. Could you change your local in R. I think Greenland shares a timezone with Brazil?

[2021-02-18 18:17] dhersz commented on #85
Changing system locale did the trick!

[code]

Thanks for the heads-up @mem48!

[2021-02-18 18:17] #85 closed, assigned to nobody

[2021-03-04 12:03] mem48 opened #87 "Config Options"
Don't quote text?

Error while parsing JSON config file 'D:\OneDrive - University of Leeds\Data\opentripplanner\graphs\great-britain2\build-config.json': Unrecognized token 'proximity': was expecting ('true', 'false' or 'null')
 at [Source: (FileInputStream); line: 7, column: 31]

[2021-03-04 12:06] mem48 commented on #87
Do need to quote character variaibles

[2021-04-15 14:05] layik opened #88 "Codecov sec breach"
The issue template is strict so apologies. It's worth checking credentials in codecov.

https://about.codecov.io/security-update

[2021-04-18 00:19] mem48 commented on #88
Thanks @layik, sound like we should be doing this for all our packages

[2021-04-18 22:14] layik commented on #88
According to `covr` author (Jim) https://twitter.com/jimhester_/status/1382692471612833796, we should be good. When it comes to security, though, I am terribly cynical. But if rOpenSci are happy, I would be happy, too. I will close the ticket but anyone with better judgement can reopen it.

[2021-04-18 22:14] #88 closed, assigned to nobody

[2021-05-08 00:01] RdgoVillegas opened #90 "[Need Help]: Unidentified error. Possibly related to json?"
## Pre Issue Check List

Before opening a new issue please confirm you have done the following:

- [x] I have searched through [old issues](https://github.com/ropensci/opentripplanner/issues?q=is%3Aissue) for people with similar problems

- [x] I have read the [Prerequisites Vignette](https://docs.ropensci.org/opentripplanner/articles/prerequisites.html) and installed the required software

- [x]

[2021-05-08 19:38] mem48 commented on #90
Sounds like a JSON parsing problem, try removing and reinstalling `RcppSimdJson`.

Also, can you confirm that you can get this route using the OTP web interface?

You could also try ververting to version 0.2.3 `remotes::install_version("opentripplanner", "0.2.3") ` as this version used a different JSON parsing method.

You could also try pasting this into a web browser

[code]

Also, I notice that

[2021-05-09 02:24] RdgoVillegas commented on #90
Thanks for your answer.

I removed and reinstalled `RcppSimdJson` but it made no difference.
The route using OTP web interface was successful
I tried `remotes::install_version("opentripplanner", "0.2.3")` and it worked fine.
The url used in the web browser gave the expected result.
Regarding the timezone, I reproduced the issue described in #85 and got the expected output

I also updated rtools, s

[2021-05-09 09:54] mem48 commented on #90
It could be a problem with `curl` try removing and reinstalling the package.

[2021-05-09 21:20] RdgoVillegas commented on #90
It didn't work. I also tried to reinstall all other dependencies to no avail.
The dependencies I reinstalled are: "checkmate", "data.table", "geodist", "googlePolylines", "curl", "rjson", "pbapply", "lubridate", "sf", "sfheaders", "tibble", "opentripplanner", "RcppSimdJson".

I think it would be useful to see the query created by the function, but I'm not sure how to access it. What do you think?

[2021-05-10 07:31] mem48 commented on #90
This is the step where the json is parsed

https://github.com/ropensci/opentripplanner/blob/2af4df35f792772e5e4d4b82ac16220d4d7dd45f/R/otp-plan.R#L526

You could try manual creating a url and see what happens.

[2021-05-10 07:33] mem48 commented on #90
Check the url is valid by testing in browser

[2021-05-14 03:46] orlandombaa opened #91 "Error in otp_clean_input(fromPlace, "fromPlace") : fromPlace contains non-POINT geometry"
Hello

I am trying to generate a matriz N*N.   The steps that I am following is the next:

- I read my centroides (the file is shapefile) as SF.
- I generate my set of origin an destination using the following code:

`toPlace_1   = centroides_1[rep(seq(1, nrow(centroides_1)), times = nrow(centroides_1)),]
fromPlace_1 = centroides_1[rep(seq(1, nrow(centroides_1)), each  = nrow(centroides_1)),]`

-

[2021-05-14 16:13] mem48 commented on #91
"fromPlace contains non-POINT geometry"

try plotting your fromPlace at least some of them are not points

[2021-05-15 01:25] orlandombaa commented on #91
Hello @mem48

Thank you for your answer.  I dont think that that´s the reason. The centroids the I read previous to create te DF "FromPlace" it is completly points. This is the DF of "FromPlace":

![R](https://user-images.githubusercontent.com/48104481/118344172-8ddba700-b4f2-11eb-8850-8d7d112f941a.PNG)

The file that I read as centroids is a shape file that I create generating centroids from a po

[2021-05-15 02:50] mem48 commented on #91
This is the check

https://github.com/ropensci/opentripplanner/blob/2af4df35f792772e5e4d4b82ac16220d4d7dd45f/R/otp-plan.R#L409

There must be missing or erroneous data.

[2021-05-15 02:52] mem48 commented on #91
Try running

summary(st_geometry_type(fromPlace))

[2021-05-15 14:20] orlandombaa commented on #91
Hello @mem48

Thank you, your answer give me the path to solve it. It turns that even that the original shape file was totally  made by points it was saved as "Multi points"  you can see it here:

![multipoints](https://user-images.githubusercontent.com/48104481/118364569-936ed680-b55e-11eb-9783-b09b6401f82e.PNG)

I convert it to points with the function "convert  multipoints to points" in Qgis:

[2021-05-15 19:37] #91 closed, assigned to nobody

[2021-06-04 23:07] gregmacfarlane commented on #49
@jamesdeweese I'm not sure what progress you have made on this effort, but I spent the afternoon trying to get R to recognize an older version of Java without uninstalling the newer versions I had. It was quite an adventure, with a simple solution: just set the `JAVA_HOME="/Library/Java/JavaVirtualMachines/jdk1.8.0_192.jdk/Contents/Home"` in the `.Renviron` file for the project.

More details [her

[2021-06-07 09:37] #90 closed, assigned to nobody

[2021-08-20 14:57] mem48 opened #93 "[BUG] Checks failing on isochrones realted to s2"

[2021-12-14 15:34] orlandombaa opened #94 "Matrix, columns names from fromID and row names from toID"
Hello

I am trying to generate a N*N travel time matrix where the name and rows of the columns indicate de ID of the origin and destination.  Reading the following documentation https://docs.ropensci.org/opentripplanner/articles/Analyst.html

I see that I need the version 1.5 of  OTP  which I already download and activate the analyst feature in the setup process. However, the opentriplanner packag

[2021-12-16 19:43] mem48 commented on #94
You need to install the github bersion of the package at otp_traveltime is still experimental.

Use

remotes::install_github("ropensci/opentripplanner")

[2021-12-17 16:28] #94 closed, assigned to nobody

[2021-12-17 17:26] orlandombaa commented on #94
Thank you! I will try with this version  @mem48

[2022-01-19 16:41] mem48 opened #95 "Run OTP for code coverage."
@layik any ideas

Tests check if they are on cran on no using

[code]

When code coverage is run `NOT_CRAN` is missing so tests that require connection to OTP are skipped.

I think I'm setting up java correctly https://github.com/ropensci/opentripplanner/blob/0c89f8e02aef8ce9373bc0cc0ce9d82b9a151ea9/.github/workflows/test-coverage.yaml#L20

So we just need to add `NOT_CRAN` to the REnvrion file be

[2022-01-20 14:28] mem48 opened #96 "Fix check_routers"
A TODO in the code

[2022-03-04 17:33] orlandombaa opened #98 "Unable to detect OTP version"
Hello

I  had a code that was running perfectly good but now is just does not work. The  error says:

`Error in otp_version_check(otp) : `
`  Unable to detect OTP version, please specify using otp_version`

I am using the 0.4 version.

I hope you guys can give me a  hand. Thank you

[2022-03-04 17:41] #98 closed, assigned to nobody